<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Timer.My.MySettings>
            <setting name="SizeSet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSizeChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SavePosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TimeTable" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSizeX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SaveSizeY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TitleTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerBarWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Notify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatteryMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Deviation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChangeBattery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Term5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Term6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerfectTrans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeginnerHelp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BarColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="MinSwitch" serializeAs="String">
                <value>False</value>
            </setting>
        </Timer.My.MySettings>
    </userSettings>
</configuration>