<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Timer.My.MySettings>
            <setting name="Size" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Second" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="posX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="posY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="kotei" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TIME" serializeAs="String">
                <value />
            </setting>
            <setting name="sizeX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sizeY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TitleT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="widthTB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PASS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="noti" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="popup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kirikae" serializeAs="String">
                <value>False</value>
            </setting>
        </Timer.My.MySettings>
    </userSettings>
</configuration>